/* Folha de estilos para o anabela.html */
/* Última modificação: 01/01/2024 - Feliz ano novo! */

/* Telemóvel */
@media (max-width:600px){


  nav{
    height: 0%;
  }

  .menu{
    padding-top: 20px;
    width: 50px;
  }

  #ciclone{
    background-color: var(--background-color);
    display: block;
  }

  .creditosIconAnabela{
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
  }

  .anabelaicon,.carlaicon,.bernardoicon,.micon{
    width: 0%;
    height: 0%;
    padding: 0%;
    position: absolute;
    margin: 0%;
    background-color: var(--background-color);
  }

  .buttonsAnabela{
    position: fixed;
    z-index: 10;
    padding-right: 0;
    text-align: center;
    align-items: end;
    margin-top: auto;
    display: flex;
  }

  /* ilustraçao + noem da personagem */
   .alinhamento{
    display: flex;
    width: 90%;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 70px;
  }

  .anabelaIlustracao{
    margin: 0%;
    display: flex;
    width: 90%;
  }

  #tituloanabela{
    margin: 0%;
    display: flex;
    width: 40%;
    padding-top: 210px;
  }

  footer{
    margin-top: 50px;
  }

  .menuAnabela{
    width: 0;
    height: 80px;
  }
  .headerAnabela{
    background-color: var(--background-color);
  }

  /* icons nao mostrados */
  .icons{
    background-color: var(--background-color);
  }

/*   .abrir{
    position: relative;
    z-index: 50;
  } */
}

/* Desktop */
@media (min-width: 1020px) {
  #tituloanabela {
    position: relative;
    display: block;
    width: 300px;
    margin: 0;
    top: -200px;
    left: 1000px;
  }

  .anabelaIlustracao {
    position: relative;
    display: block;
    padding-top: 300px;
    padding-right: 10px;
    width: 70%;
  }

  .creditosIconAnabela {
    width: 15%;
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 10;
    filter: brightness(50%);
  }

  .creditosIconAnabela:hover {
    filter: brightness(100%);
  }

  .anabelaicon {
    opacity: 100;
  }

  .headerAnabela {
    margin-right: 40px;
    margin-bottom: 30px;
  }

  .menuAnabela {
    background-color: var(--main-color);
  }

  span {
    background-color: #6c5500;
    color: #6c5500;
  }

  span:hover {
    opacity: 100;
    background-color: var(--background-color);
    transition: 0.6;
  }
  .buttonsAnabela {
    position: absolute;
    display: block;
    width: 200px;
    z-index: 10;
    top: 82.8%;
    left: 0;
    background-color: var(--lighter-color);
  }
  .buttonsAnabela a {
    padding: 5px;
    text-decoration: none;
    line-height: 150%;
    display: block;
    color: var(--secondary-color);
    font-size: var(--font-size);
  }
  .buttonsAnabela a:hover {
    background-color: var(--background-color);
    color: var(--main-color);
    font-style: italic;
  }
}
