/* Folha de estilos para o anabela.html */
/* Última modificação: 01/01/2024 - Feliz ano novo! */

/* Telemóvel */
@media (max-width: 600px) {
  nav {
    height: 0%;
  }

  .menu {
    padding-top: 20px;
    width: 50px;
  }

  #ciclone {
    background-color: var(--background-color);
    display: block;
  }

  .creditosIconAnabela {
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
  }

  .anabelaicon,
  .carlaicon,
  .bernardoicon,
  .micon {
    width: 0%;
    height: 0%;
    padding: 0%;
    position: absolute;
    margin: 0%;
    background-color: var(--background-color);
  }

  .buttonsAnabela {
    position: fixed;
    z-index: 10;
    padding-right: 0;
    text-align: center;
    align-items: end;
    margin-top: auto;
    display: flex;
  }

  /* ilustraçao + noem da personagem */
  .alinhamento {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 70px;
  }

  .anabelaIlustracao {
    margin: 0%;
    display: flex;
    width: 90%;
  }

  #tituloanabela {
    margin: 0%;
    display: flex;
    width: 40%;
    padding-top: 210px;
  }

  footer {
    margin-top: 50px;
  }

  .menuAnabela {
    width: 0;
    height: 80px;
  }
  .headerAnabela {
    background-color: var(--background-color);
  }

  /* icons nao mostrados */
  .icons {
    background-color: var(--background-color);
  }

  /*   .abrir{
    position: relative;
    z-index: 50;
  } */
}

/* Desktop */
@media (min-width: 1020px) {
  #tituloanabela {
    position: relative;
    display: block;
    width: 250px;
    margin: 0;
    top: -150px;
    left: 700px;
  }

  .anabelaIlustracao {
    position: relative;
    display: block;
    padding-top: 280px;
    padding-right: 10px;
    width: 65%;
  }

  .creditosIconAnabela {
    width: 15%;
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 10;
  }

  .anabelaicon {
    opacity: 100;
  }

  .menuAnabela {
    padding: 0px;
  }
  .headerAnabela {
    margin-right: 80px;
    margin-bottom: 30px;
  }

  span {
    background-color: #6c5500;
    color: #6c5500;
  }

  span:hover {
    opacity: 100;
    background-color: var(--background-color);
    transition: 0.6;
  }

  .buttons {
    margin-top: -2vh;
  }

  footer {
    display: block;
    position: relative;
    margin-bottom: 0px;
    margin-top: 330vh;
  }
}
