/* Modificações para o personagem Bernardo */
/* Data da última modificação 02/01/24 */

@media (max-width: 600px) {
  nav {
    height: 0%;
  }

  .menu {
    padding-top: 20px;
    width: 50px;
  }

  #ciclone {
    background-color: var(--background-color);
    display: block;
  }

  #ciclone > a{
    background-color: var(--background-color);
  }

  .homeBernardo {
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
    z-index: 200;
  }

  .anabelaicon,
  .carlaicon,
  .bernardoicon,
  .micon {
    width: 0%;
    height: 0%;
    padding: 0%;
    position: absolute;
  }

  .buttons {
    position: fixed;
    z-index: 10;
    padding-right: 0;
    text-align: center;
    align-items: end;
    margin-top: auto;
    width: 100%;
    top: 0%;
    padding-top: 90px;
  }

  /* /* ilustraçao + noem da personagem */
  .alinhamento {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 0px;
    position:static;
  }

  .ilustracaoBernardo {
    margin: 0%;
    display:inline;
    width: 80%;
    height: 10%;
    padding-top: 0px;
    padding-left: 80px;
  }

  .tituloBernardo {
    margin: 0%;
    display:inline;
    width: 50%;
    height: 10%;
    padding-top: 180px;
    padding-left: 40px;
    top: 0%;
    z-index: 5;
  }

  footer {
    margin-top: 50px;
  }
}

@media (min-width: 1020px) {
  .homeBernardo {
    display: block;
    position: relative;
    width: 350px;
    margin-top: 30px;
    margin-left: 30px;
  }

  .ilustracaoBernardo {
    display: block;
    position: relative;
    width: 600px;
    margin-top: -570px;
    margin-left: 300px;
  }

  .tituloBernardo {
    display: block;
    position: relative;
    width: 300px;
    margin-top: -200px;
    margin-left: 980px;
  }

  main {
    display: block;
    position: relative;
    margin-top: 200px;
  }

  .buttons {
    margin-top: 5vh;
    width: 280px;
  }

  footer {
    margin-top: 100px;
  }

  .menuBernardo {
    position: relative;
    margin-right: 80px;
    margin-top: -150px;
    padding-top: 45%;
  }

  .bernardoicon {
    opacity: 1;
  }
}
