/* Telemóvel */
@media (min-width: 320px) and (max-width: 600px) {
  nav{
    height: 0%;
  }
  
  .menu{
    padding-top: 20px;
    width: 50px;
  }

  #ciclone{
    background-color: var(--background-color);
    display: block;
  }

  .homeM{
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
  }

  .anabelaicon,.carlaicon,.bernardoicon,.micon{
    width: 0%;
    height: 0%;
    padding: 0%;
    position: absolute;
  }

  .buttonsM{
    position: fixed;
    z-index: 10;
    padding-right: 0;
    text-align: center;
    align-items: end;
    margin-top: auto;
    display: flex;
  }


  /* /* ilustraçao + noem da personagem */ */
  .alinhamento{
    display: flex;
    width: 90%;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 70px;
  }

  .ilustracaoM{
    margin: 0%;
    padding-left: 20px;
    display: flex;
    width: 50%;
  }

  .tituloM{
    margin: 0%;
    display: flex;
    width: 50%;
    height: 30%;
    padding-top: 30%;
  }

  footer{
    margin-top: 50px;
  }

}

/* COMPUTADOR */
@media (min-width: 1020px) {
   {
    z-index: 1;
    disp
  }
}
