/* Telemóvel */
@media (min-width: 320px) and (max-width: 600px) {
  nav{
    height: 0%;
  }
  
  .menu{
    padding-top: 20px;
    width: 50px;
  }

  #ciclone{
    background-color: var(--background-color);
    display: block;
  }

  .homeM{
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
  }

  .anabelaicon,.carlaicon,.bernardoicon,.micon{
    width: 0%;
    height: 0%;
    padding: 0%;
    position: absolute;
  }

  .buttonsm{
    position: fixed;
    z-index: 10;
    padding-right: 0;
    text-align: center;
    align-items: end;
    margin-top: auto;
    display: flex;
    width: 100%;
    padding-top: 90px;
  }



  #mmm{
    margin: 0%;
    padding-left: 40px;
    display: flex;
    width: 50%;
    padding-top: 190px;
  }

  #titulom{
    margin: 0%;
    display: flex;
    width: 30%;
    padding-top: 140px;
    padding-left: 30px;
  }

  footer{
    margin-top: 50px;
  }

}

/* COMPUTADOR */
@media (min-width: 1020px) {
   {
    z-index: 1;
    disp
  }
}
