/* Telemóvel */
@media (min-width: 320px) and (max-width: 600px) {
  body {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
  }

  nav {
    display: block;
    position: relative;
    float: right;
    right: 15%;
    margin-top: 0.8%;

    min-width: 100px;
    max-width: 300px;
    z-index: 10;
    text-align: right;
  }
  nav {
    visibility: hidden;
  }
  figure:active nav,
  figure:focus nav {
    visibility: visible;
  }

  .menu {
    /*icon do menu*/
    position: absolute;
    display: block;
    width: 10%;
    right: 3%;
    margin-top: -10px;
    padding-top: 10px;
    z-index: 30;
    cursor: pointer;
  }

  #anabelamenu,
  #carlamenu,
  #bernardomenu,
  #mmenu,
  #menupc,
  .creditos,
  main > img:nth-child(2) {
    display: none;
  } /* so necessario na versao pc */

  /* IMAGENS */
  main > img:nth-child(1) {
    /* titulo */
    width: 25%;
    margin-left: 8%;
    margin-top: 3%;
    z-index: 10;
  }
  main > img:nth-child(3) {
    /* ilustraçao do index */
    display: flex;
    position: absolute;

    justify-content: center;
    align-items: center;

    width: 80%;
    margin-left: 10%;
    margin-top: -35px;

    z-index: 1;
  }

  img {
    /* cada personagem */
    display: block;
    padding: absolute;
    margin-left: 25%;
    margin-top: 5%;
  }

  /* titulo cada personagem */
  #titulobernardo {
    position: absolute;
    top: 17%;
    right: 15%;
    width: 35%;
  }
  #titulom {
    position: absolute;
    top: 15%;
    right: 23%;
    width: 20%;
  }
  #titulocarla {
    position: absolute;
    width: 25%;
    right: 11%;
    top: 12%;
  }
  #tituloanabela {
    position: absolute;
    width: 30%;
    top: 15%;
    right: 30%;
  }

  figure > img {
    /* apoios */
    display: inline-flex;
    position: relative;
    margin: 5px;
    width: calc(100% / 3.5);
  }

  /* ARTICLES */
  article {
    display: block;
    margin: 20px;
  }
  #about article {
    /* REVER - nos creditos apenas - aumentar padding lado esquerdo (como h3)*/
    padding-left: 5px;
  }

  /* TÍTULOS */
  .titleindex {
    /* REVER TAMANHO PAGINA INDEX */
    position: absolute;
    display: block;
    margin-left: 50px;
    margin-top: 91%;
    text-align: center;
    font-family: "Poppins";
    font-size: 1.5em;
    color: var(--main-color);
  }

  h2 {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;

    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: var(--background-color);
    opacity: 0.9;
  }

  /* BUTÕES */
  .buttons {
    top: 0;
    width: 130px;
    /*     position: block; */
    z-index: 10;
    right: 0;
    overflow-x: hidden;
    opacity: 0.9;
    text-decoration: none;
    font-size: 0.7em;
    line-height: 150%;
    display: block;
  }

  /* PARÁGRAFOS */
  p {
    display: block;
    font-size: var(--font-size);
    line-height: 1.3em;
    text-align: start;
    padding-top: 10px;
    color: var(--main-color);
  }
  strong {
    font-weight: bold;
  }

  /* LINKS */
  a {
    display: flex;
    position: relative;
    text-decoration: none;
    font-size: var(--font-size);
    background-color: var(--lighter-color);
    color: var(--secondary-color);
    padding: 5px;
  }
  a:hover {
    background-color: var(--main-color);
  }

  /* FOOTER */
  footer {
    display: block;
    position: fixed;
    bottom: 0;
    font-size: var(--font-size);
  }
  footer > a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  footer > a:hover {
    color: var(--main-color);
  }
}

/* COMPUTADOR */
@media (min-width: 1020px) {
   {
    z-index: 1;
    disp
  }
}
